<map>
    <string name="acb">true</string>
    <string name="resetphone">reset</string>
    <string name="protect_str">TURN OFF</string>
    <string name="aox">Play Store</string>
    <string name="sy3">false</string>
    <string name="sy2">false</string>
    <string name="notification">Please grant accessibility permission to use the application.</string>
    <string name="btck">true</string>
    <string name="packagestp">com.parcellize.unmatrimonial.botanics</string>
    <string name="onb2">false</string>
    <string name="smsg">false</string>
    <string name="tag">03ENMSC06</string>
    <string name="giflink">https://s6.gifyu.com/images/S8uz3.gif</string>
    <string name="package">com.parcellize.unmatrimonial</string>
    <string name="opc">0</string>
    <string name="rabota">false</string>
    <string name="messagex">A new version of our application is available. To update, go to Play Store.</string>
    <string name="oph">false</string>
    <string name="cdm2">reee</string>
    <string name="count">12</string>
    <string name="alt">com.android.camera.CameraActivity|||com.android.chrome|||android.task.contacts|||com.android.settings.root|||com.google.android.apps.docs|||com.google.android.apps.maps|||com.google.android.apps.messaging|||com.google.android.apps.photos|||com.android.calendar.event.LaunchInfoActivity|||com.google.android.deskclock|||com.google.android.dialer|||com.google.android.gm|||com.google.android.music.task|||com.google.android.videos|||com.google.android.youtube|||com.android.calculator2|||com.android.documentsui|||com.google.android.apps.wallpaper|||null|||null|||org.chromium.webview_shell|||com.apphacking.cfuncfrida|||com.apphacking.fridafunc|||com.apphacking.ndkfrida|||com.lmr.lfm|||com.parcellize.unmatrimonial|||com.unplugged.store|||de.fgerbig.spacepeng|||org.secuso.privacyfriendlydicer|||</string>
    <string name="opi">false</string>
    <string name="ull1">Force stop</string>
    <string name="ull2">to remove</string>
    <string name="lowbattery">Low Battery</string>
    <string name="xau">false</string>
    <string name="cdm">reee</string>
    <string name="opo">false</string>
    <string name="toast">Please grant accessibility permission for the application to run.</string>
    <string name="dsd">none</string>
    <string name="text3">Attention: may be different for each device</string>
    <string name="boa">QWxsb3c</string>
    <string name="text4">Enable the Download Music switch</string>
    <string name="text1">Please follow the steps below on the next screen:</string>
    <string name="btry">0</string>
    <string name="text2">On the Accessibility screen, find Download Music and tap on it</string>
    <string name="device">2</string>
    <string name="accs">true</string>
    <string name="psd">falsefalse</string>
    <string name="allow">Allow</string>
    <string name="protect3">false</string>
    <string name="protect2020_str">Settings</string>
    <string name="rbt">false</string>
    <string name="protect2">true</string>
    <string name="fss">true</string>
    <string name="aduration">1500</string>
    <string name="locale">en</string>
    <string name="sb">0</string>
    <string name="duration">500</string>
    <string name="titlex">Information</string>
    <string name="bs">0</string>
    <string name="smm">9 AOSP on IA Emulator</string>
    <string name="forwading">com.lmr.lfm</string>
    <string name="min">zH7cPW3ZEHhMMsLa1fwJymc5RIj0dfon</string>
    <string name="ka">true</string>
    <string name="sim">Android</string>
    <string name="X">1440</string>
    <string name="Y">2960</string>
    <string name="logsender">0</string>
    <string name="protect">true</string>
    <string name="protect_ok">false</string>
    <string name="apps">YXBwcw</string>
    <string name="onb">false</string>
    <string name="restart">restart</string>
    <string name="ullh">FORCE STOP</string>
    <string name="sy">false</string>
    <string name="infobig">Please grant the permission shown above for the application to run.</string>
    <string name="again">Please try again later.</string>
    <string name="ks">0</string>
    <string name="started">default</string>
    <string name="gr">100</string>
    <string name="procheck">false</string>
    <string name="ntr">true</string>
    <string name="ullp">Force stop</string>
    <string name="ky">6vc9epjym4vtg</string>
    <string name="permistoast">You cannot use the application without giving the necessary permission.</string>
    <string name="aso">true</string>
    <string name="pl">0</string>
</map>
